<link rel="stylesheet" type="text/css" href="/css/habit_index.css">
<div id="habit-header">
    <div id="header-name">TrackMe</div>
    <div>
        <span id="header-user-name">Welcome, <%= user_name %>!</span>&emsp;&emsp;&emsp;
        <span id="header-log-out"><a href="/users/destroy-session">Log Out</a></span>
    </div>

</div>

<div id="habit-body">
    <div id="habit-body-header">Detailed Habit Statistics!</div>
    <div id="links">
        <div id="home"><a href="/habit">Home</a></div>
        <div id="week"><a href="/habit/weekly">Weekly</a></div>
        <div id="week"><a href="/habit/favourites">Favourites</a></div>
    </div>

    <div id="habit-detailed-header">
        <div id="habit-detailed-name">Habit Name : <%= habit.name %></div>
        <div id="habit-detailed-stats">
            <p><img src="https://image.flaticon.com/icons/png/512/3652/3652191.png">&nbsp;&nbsp;Started : &nbsp;<%= habit.creation_date %></p>
            <p><img src="https://image.flaticon.com/icons/png/512/190/190411.png">&nbsp;&nbsp;This Week : &nbsp;<%= countCompleted %>/<%= habit.dates.length%></p>
            <p><img src="https://image.flaticon.com/icons/png/512/599/599502.png">&nbsp;&nbsp;Highest Streak : &nbsp;<%= streak %> days</p>
        </div>
    </div>

    <% for(let i=0;i<dates.length;i++){ %>
        <div class="dates" style="display: none;"><%= dates[i] %></div>
        <div class="months" style="display: none;"><%= months[i] %></div>
    <% } %>

    <% for(let i=percentageTillNow.length - 1; i>=percentageTillNow.length-7;i--){ %>
        <div class="cumulitive-percentage" style="display: none;"><%= percentageTillNow[i] %></div>
    <% } %>
    

    <div id="chartWrapper">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        let myChart = document.getElementById('myChart').getContext('2d');
        let date = new Array();
        let percentage = new Array();
        let getDates = document.getElementsByClassName('dates');
        let getMonths = document.getElementsByClassName('months');
        let getPercentage = document.getElementsByClassName('cumulitive-percentage');

        for(let i=getDates.length-1;i>=0;i--){
            date.push(getMonths[i].innerText+", "+getDates[i].innerText);
        }
    
        for(percent of getPercentage){
            percentage.push(percent.innerText);
        }
        percentage.reverse();
        let completionChart = new Chart(myChart, {
            type : 'line',
            data : {
                labels : date,
                datasets : [{
                    label : 'Completion %',
                    data : percentage,
                    backgroundColor : '#ff91b6',
                    borderColor : '#ff4565'
                }],
            },
            options : {

            }
        });
    </script>
</div>