<!DOCTYPE html>
<!--Begining of HTML-->
<html>
<!--Begining of head-->

<head>
    <!--Title-->
    <title>Habit Tracker</title>
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/6f0f83005a.js" crossorigin="anonymous"></script>
    <!--Noty js for notifications-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <%- style %>
</head>
<!--End of head-->

<!--Begining of body-->

<body>
    <main id="variable-body">
        <%- body %>
    </main>
</body>
<!--End of body-->

<!--Script tags-->
<%- script %>

    <script>
        /*Noty Notifications*/
        <% if (flash.success && flash.success.length > 0) { %>
            new Noty({
                theme: 'bootstrap-v3',
                text: '<%= flash.success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 1500
            }).show()
            <% } %>
        <% if (flash.error && flash.error.length > 0) { %>
            new Noty({
                theme: 'bootstrap-v3',
                text: '<%= flash.error %>',
                type: 'error',
                layout: 'topRight',
                timeout: 1500
            }).show()
            <% } %>
    </script>

</html>
<!--End of HTML-->